
@use './sass/layout/global.scss' as *;

@use './sass/helpers/mixins.scss' as *;
 
@use './sass/variables/colors.scss' as *;



.pg{
    background-color: rgb(17, 23, 129);height: 100vh; 

    @include make-flex(column,100px);
    flex-wrap: nowrap !important;
    justify-content: center;

    .pg-{
        color: white;
        @include make-flex(row,0px);justify-content: center;
    
    }
}





.pg-up{
    @include make-flex(row !important,10px !important);justify-content: center;

    .left-side{
        border-width: 0; border-right-width: 3px;border-color: whitesmoke;border-style: solid;
        @include make-flex(row !important,20px !important);justify-content: center;align-items: center;

        .title-group{
        @include make-flex(column !important,2px !important);justify-content: center; align-items: center; text-align: center;


        h1{
            font-size: 80px;
        }


        p{
            text-align: center;
        }
        }



        .left-icon{
            width: 30%;
        }
    }


    .right-side{
        

        .degrees-container{
            

        @include make-flex(row,7px);justify-content: center; align-items: center;
            .degrees-box{
                background-color: rgba(33, 39, 152, 0.601);
                width: 90px;height: 120px;  flex: 0 0 28%; /* 3 per row */

        @include make-flex(column,7px);justify-content: center; align-items: center;
                
text-align: center;
        .degree-title{
            font-size: 30px;
        }

        .degree{
            font-size: 15px;font-weight: normal;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        }

            }
        }
    }

}


.pg-down{
position: relative;
    .degrees-container{


        width: 1000px;               /* Set width */
        overflow-x: auto;           /* Enable horizontal scrolling */
        white-space: nowrap;        /* Prevent items from wrapping */
            

        @include make-flex(row,12px); align-items: center;
        flex-wrap: nowrap !important;
            .degrees-box{
                background-color: rgb(11, 16, 110);border-radius: 8px;
                min-width: 120px;min-height: 120px; 

        @include make-flex(column,7px);justify-content: center; align-items: center;
                
text-align: center;
        .degree-title{
            font-size: 18px;font-weight: normal;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        }

        .degree{
            font-size: 18px;font-weight: normal;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        }

            }


            
        }
}